@model MVCADeployer.Controllers.HomeController
@{
    Layout = null;
    String s= "Mon code est là";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        
    </div>
    @s <br />

    @Html.ActionLink("francais", "index",new{langue="fr"})<br />
    @Html.ActionLink("english", "index",new{langue="en"})<br />



    @Resources.hello

</body>
</html>
