@model System.Exception

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CinqCent</title>
</head>
<body>
    <div>
        It's a Error 500<br />
        @Model.Message
    </div>
</body>
</html>
