@{
    ViewBag.title = "Administration";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
</head>
<body>
    <div>
        Bienvenu dans la administration du site
    </div>
</body>
</html>
