@model MVCHandlers.ServiceIttaRef.Client
@{
    Layout = null;
    ViewBag.Title = "useWS";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>CLIENT</h1>
        <p>Nom= @Model.Nom</p>
        <p>Marie= @Model.Marie</p>
        <p>Date de Naissance= @Model.DateNaissance</p>
    </div>
</body>
</html>
