@{
    ViewBag.Title = "Verboten";
}

<h2>@ViewBag.Title</h2>

<p>Bienvenu</p>

@{
    dynamic profile = System.Web.Profile.ProfileBase.Create(User.Identity.Name);
    }



Langue : @profile.langue  <br />                                                                                                                                                 
Derniere Visite : @profile.dernierevisite <br />

