@{
    ViewBag.Title = "Verboten";
}

<h2>@ViewBag.Title</h2>

<p>Bienvenu</p>
@{
    dynamic profile = System.Web.Profile.ProfileBase.Create(Membership.GetUser().UserName);
    }



Langue : @profile.langue;1§                                                                                                                                                     
Derniere Visite : @profile.dernierevisite;

