@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <title>Index</title>
</head>

<body>

    <div>
        <p><button id="btnConnect" type="button">Connecter</button>
        <button id="btnDisconnect" type="button">Déconnecter</button></p>  

        <p><input  id="message" type="text" /></p>

        <p><button id="btnSend" type="button"  >Envoyer</button></p>
    </div>

    <div id="etat">

    </div>

    <script>    
        var ws;
        var divetat = $("#etat");
        $("#btnConnect").click(
            function () {
                var url = "ws://" + window.location.hostname +":"+
                           + window.location.port + "/api/WSocketServer";
                ws = new WebSocket(url);
                ws.onmessage = function (evt) {
                    divetat.text(evt.data);
                };
                ws.onopen = function (evt) {
                    divetat.text("Connexion établie!!!");
                };
                ws.onclose = function (evt) {
                    divetat.text("Connexion fermé!!!");
                };
                ws.onerror = function (evt) {
                    divetat.text("Oups: "+evt.message);
                };

            }
            );

        $("#btnDisconnect").click(
            function () {
                ws.close();
            }
            );

        $("#btnSend").click(
            function () {
                if (ws.readyState ==WebSocket.OPEN) {
                    ws.send($("#message").val());
                    $("#message").val("");
                }
                else {
                    divetat.text("Désolé, connection fermée");
                }
            }
            );

    </script>

</body>

</html>
