@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Front Page</title>
</head>
<body>
    <div>
        MVC with areas frontpage
    </div>
</body>
</html>
