
@{
    ViewBag.Title = "La vue Templated";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@section MaPremierSection{
     Je suis rendu dans la section MaPremierSection
    }

@*@section MaDeuxiemeSection{
     Je suis rendu dans la section MaDeuxiemeSection
    }*@