@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/MyStyle.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/MyJSValidation.js"></script>
    @*<script src="~/Scripts/MyJQuery.js"></script>*@
</head>
<body>
    <p>
        <a href="~/State/Index">Liste de Clients</a>
    </p>

    @*<div id="div1">
        Mon premier texte.
    </div>
    <br />

    <div id="div2" class="red">
        Mon deuxième texte
    </div>
    <br />

    <div id="div3">
        Mon troisième texte
    </div>
    <br />

    <div>

        <div>
            ligne 1
        </div>
        <br />

        <div>
            <div>
                ligne 2
            </div> 
            <div>
                ligne 3
            </div>
        </div>
        <br />

        <div>
            <p>
                ligne4
            </p>
            <p>
                ligne5
            </p>
        </div>

    </div>*@

</body>
</html>
